<!DOCTYPE html>
<html>
   <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <nav>
      <% include ../partials/header.ejs %>
    </nav>

    <body>
       <h1>Edit Listing</h1>
       <form action="/store/<%=store.id%>?_method=PUT" method="POST">
           Title: <input type="text" name="title" value="<%=store.title%>"/><br/>

           Image: <input type="text" name="img" value="<%=store.img%>"/><br/>
            Artist: <input type="text" name="name" value="<%=store.name%>"/><br/>
             Price: <input type="text" name="price" value="<%=store.price%>"/><br/>
             Description: <input type="text" name="description" value="<%=store.description%>"/><br/>
             
          
           <input type="submit" name="" value="Sumbit Changes">
       </form>
    </body>
</html>
 