<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
         <div class="container">
    
       

         
        <h3><%= store.title %></h3>
        <img src="<%= store.img %>"/>
        <p> Artist: <%= store.name %> </p>
        <div class="clearfix">
          <div class="price"> $ <%= store.price%></div>
              
        <form action="/store/<%=store.id%>?_method=DELETE" method="POST">
            <input type="submit" name="DELETE">

             <a href="/store/<%=store.id;%>/edit">Edit</a>

          </div>
      </div>
  
  </div>
        
        <nav>
            <a href="/store"> Back To Home </a>
        </nav>
<footer class="footer">
   <nav>
      <% include ../partials/footer.ejs %>
    </nav>
</footer>

    </body>
</html>